# These roughly follow the order: Maintainer, SciComp, Scientist
# File format documentation standards
docs/file_formats/behavior_videos.md @bruno-f-cruz @jwong-nd @galenlynch
docs/file_formats/ecephys.md @alejoe91 @jsiegle
docs/file_formats/fip.md @bruno-f-cruz @j-friedrich @arjunsridhar12345 @Ahad-Allen @hagikent
docs/file_formats/harp.md @bruno-f-cruz @arjunsridhar12345 @jsiegle
docs/file_formats/nwb.md @arielleleon @dyf @saskiad
docs/file_formats/planar_ophys.md @arielleleon

# Core documentation
docs/core/* @bruno-f-cruz @dyf @arielleleon